@charset "utf-8";

/* Stylesheet for ResumeWebsite */

html {
    background-color: #111111;
}

h1, h2, h3, h4, h5, h6, p, li, a, #title-text, .prompt {
    font-family: consolas, 'Courier New', monospace;
    color: #eeeeee;
}

h1 {
    font-size: 40px;
}

header {
    padding: 20px;
    font-weight: bolder;
}

nav {
    display: inline;
}

nav #logo {
    float: left;
    text-transform: uppercase;
    text-decoration-line: none;
    margin: 10px 30px;
}

nav .utility ul li {
    display: inline;
    margin: 10px 30px;
    float: right;
}

nav .utility ul li a {
    text-transform: uppercase;
    text-decoration-line: none;
}

nav ul li a:hover {
    font-weight: bolder;
}

main {
    width: 1280px;
    height: 640px;
}

.left-column {
    display: inline-block;
}

.right-column {
    display: inline-block;
}

.content {
    float: left;
    display: grid;
    white-space: nowrap;
    place-items: left;
    width: 525px; /* change to fit title size */
    padding: 250px 0;
}

  .content p {
    padding: 10px 0 20px 54px;
    font-size: 22px;
  }

  .title-text {
    font-size: 48px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 1.75s steps(20, end) forwards, /*change (17,end) to strlen*/
               blinking 1s infinite;
    animation-delay: 0.5s;
  }

  .portfolio-prompt a {
    font-weight: bold;
    text-decoration-line: none;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: #eeeeee}
    100% {border-color: transparent}
  }

.pics-content{
    float: right;
    width: 525px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
}

.slideshow{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

img{
    width: 100%;
}

@keyframes slide{
    0% {transform: translateX(0);}
    25% {transform: translateX(0);}
    30% {transform: translateX(-100%);}
    50% {transform: translateX(-100%);}
    55% {transform: translateX(-200%);}
    75% {transform: translateX(-200%);}
    80% {transform: translateX(-300%);}
    100% {transform: translateX(-300%);}
}

