/* Stylesheet for Site */

html {
    background-image: url("../images/night_sky_long_page.png"); /* failsafe if background vid doesn't work*/
}

/* font presents for all built-in text */
h1, h2, h3, h4, h5, h6, p, li, a, #title, th, td, .text {
    font-family: consolas, 'Courier New', monospace;
    color: #eeeeee;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

a {
    font-size: 20px;
}

p {
    font-size: 16px;
}

/* video background */
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/************************************************

    Presets for global navigation bar

************************************************/

header {
    display: flex;
    width: full;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 90px;
}

header a, .utility {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 18px;
}

.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
}

header a .logo img {
    width: 72px;
}

.logo h1 {
    font-size: 26px;
    text-transform: uppercase;
}

.utility {
    display: flex;
    justify-content: center;
    align-items: center;
}

.utility ul li {
    display: inline-flex;
}

.utility ul li a {
    text-decoration-line: none;
    text-transform: uppercase;
}

.utility ul li a:hover {
    font-weight: bolder;
}

.utility ul li.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    z-index: 1;
}

.utility ul li.dropdown:hover .dropdown-menu {
    display: block;
}

.utility ul li.dropdown:hover .dropdown-menu li:hover {
    font-weight: bolder;
}

.dropdown-menu li {
    padding: 5px 0;
}

.dropdown-menu li:hover {
    font-weight: bolder;
}

/************************************************

    Presets for home.html content

************************************************/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: full;
}

.left-column, .right-column {
    display: inline-block;
    width: 35%;
    height: 630px;
}

.left-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 48px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 1.75s steps(20, end) forwards, /*change (17,end) to strlen*/
               blinking 1s infinite;
    animation-delay: 0.5s;
}

.content p {
    font-size: 20px;
    margin: 26px 0 52px 52px;
}

.left-column a {
    border: 1px solid #eee;
    padding: 10px;
    margin-right: 15%;
    max-width: fit-content;
    text-decoration-line: none;
}

.right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-column img {
    width: 80%;
}

.right-column h2 { /* for portfolio.html */
    padding-bottom: 20px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: #eeeeee}
    100% {border-color: transparent}
}

/************************************************

    Presets for portfolio.html

************************************************/

.portfolio-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
}

.portfolio-title h1 {
    padding: 30px 0 16px 0;
}

.projects, .images {
    padding-top: 12%;
}

.projects h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pcard {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    border: 1px solid #eee;
    padding: 10px;
    margin: 3%;
    height: fit-content;
}

.pcard h4 {
    font-size: 18px;
    font-style: italic;
    padding: 6px 0 20px 0;
}

.pcard a {
    border: none;
    max-width: fit-content;
    height: 100%;
}

.pcard p {
    padding: 10px 0;
}

.pcard a p {
    padding-right: 10px;
}

.title-img-links {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
}

.pcard-title {
    width: 300%;
    display: flex;
    align-items: center;
}

.pcard-image a img {
    width: 28%;
    float: right;
}

#two-links {
    display: inline;
    max-width: 25%;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

.images img {
    width: 80%;
}

.images p {
    font-style: italic;
    opacity: 80%;
    text-align: center;
    padding: 8px 0 20px 0;
}

.images a {
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #eee;
    padding: 10px;
}

/************************************************

    Presets for resume.html

************************************************/

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resume h1 {
    padding: 3% 0;
}

#resume-pdf {
    width: 75%;
    height: 720px;
    padding-bottom: 1%;
}

/************************************************

    Presets for projectWebsite.html

************************************************/

/* main */
.process {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: full;
}

.design-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-top: 1px solid #eee;
}

.design-section h1 {
    text-transform: uppercase;
}

.design-section h2 {
    font-size: 32px;
}

.design-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    max-width: 900px;
    margin: 40px 0;
}

.design-text p {
    padding-top: 20px;
}

.design-text a {
    font-size: 16px;
}

#process-imgs {
    padding-bottom: 20px;
}

#process-imgs img {
    width: 60%;
}

.youtube-vid {
    padding-top: 75px;
}

.youtube-vid p {
    font-style: italic;
    opacity: 80%;
    text-align: center;
    padding: 8px 0 20px 0;
}

/************************************************

    Presets for images.html

************************************************/

.featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

.images-title h1 {
    padding: 3% 0;
}

.gallery {
    width: 80%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.column {
    flex-basis: calc(33.33% - 10px);
    margin: 5px;
    padding: 0;
}

.column img {
    width: 100%;
    height: auto;
}

/************************************************

    Presets for contactInfo.html

************************************************/

.left-column img {
    width: 70%;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.connection-container {
    padding-bottom: 20px;
}

.connection {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.material-symbols-outlined {
    color: #eee;   
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#contact h1 {
    padding-bottom: 24px;
}

#contact h3 {
    padding: 20px 0;
}

#contact p {
    padding-left: 8px;
}

.social-links {
    display: inline;
}

.social-links a {
    padding: 15px;
    text-decoration-line: none;
}

.social-links a img {
    border-radius: 25px;
    width: 10%;
}